.navbar {
    z-index: 9999;
    width: 100%;

    background-color: #000000; /* Couleur de fond de la navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour une meilleure visibilité */
    color: #fff;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right:10%;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style-type: none;
}

.navbar ul li a:hover {
    color: red;
    transition:0.3s;
}