body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-top: 60px;
}

.performance-graphs {
    flex-basis: 60%;
    background-color: #fff;
    padding: 20px;
    display: grid;
    margin: 0 auto 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-analysis, .content-suggestions {
    background-color: #fff;
    margin: 10px auto; /* Réglez la marge sur les côtés uniquement */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.performance-graphs img, .response-analysis p, .content-suggestions p {
    margin: 10px 0;
    width:100%;
}

h2 {
    color: #333;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.graphique img {
    width: 25%;
    height: auto;
}

.sidebar {
    flex-basis: 20%;
}

.sidebar img {
    width: 100%;
    height: auto;
    display: block;
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.quiz-results, .comments {
    flex-basis: 60%;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto 10px; /* Déplacez la marge vers le bas */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

.correct {
    color: #28a745;
}

.faux {
    color: red;
}

footer {
    text-align: center;
    padding: 10px;
}


